@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a1226;
  --foreground: #919eb3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
